---

---

<div class="drawer">
	<input id="my-drawer" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content">
		<!-- Page content here -->
		<div class="navbar bg-primary text-primary-content px-4 lg:px-32">
			<div class="navbar-start">
				<h2>
					<a href="/" class="btn font-heading btn-ghost text-xl">Clarity</a>
				</h2>
			</div>
			<div class="navbar-center hidden lg:flex">
				<ul class="menu menu-horizontal px-1">
					<li><a href="#">How it works</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Client Reviews</a></li>
				</ul>
			</div>
			<div class="navbar-end">
				<a class="btn btn-sm">Contact Now</a>
			</div>
		</div>
	</div>
	<div class="drawer-side">
		<label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
		<ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
			<!-- Sidebar content here -->
			<li><a href="#">Home</a></li>
			<li><a href="#">How it works</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Client Reviews</a></li>
		</ul>
	</div>
</div>
