---
import Layout from '@/layouts/BaseLayout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout>
	<main class="container mx-auto px-4 py-16">
		<section class="text-center">
			<h1 class="mb-4 text-4xl font-bold">Minimal One-Pager</h1>
			<p class="mb-8">This is a simple example using Astro, Tailwind, and DaisyUI.</p>
			<button class="btn btn-primary">
				<Icon name="ph:rocket-launch-duotone" class="mr-2 h-6 w-6" />
				Get Started
			</button>
		</section>
	</main>
</Layout>
