---
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/navigation/Footer.astro';
import Navbar from '@/components/navigation/Navbar.astro';

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body data-theme="light" class="bg-base-100 font-body relative isolate min-h-screen antialiased">
		<a
			href="#main-content"
			class="focus:bg-base-100 sr-only focus:not-sr-only focus:fixed focus:z-50 focus:p-4">
			Skip to main content
		</a>
		<noscript>
			<div
				role="alert"
				class="text-base-content container py-8 text-center text-lg font-medium italic">
				Please enable JavaScript for the best experience on this site!
			</div>
		</noscript>
		<main id="main-content">
			<Navbar />
			<slot />
			<Footer />
		</main>
	</body>
</html>
